body {
	margin: 0;
	background: #232323;
	font-family: Montserrat, Avenir;
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: 300;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

h1 #colorDisplay {
	display: block;
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
}

.selected {
	background: steelblue;
	color: white;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	font-family: MontSerrat;
	font-size: inherit;
	font-weight: 700;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	outline: none;
}

button:hover {
	background: steelblue;
	color: white;
}

