<% include ./partials/header %>
<h1>THIS IS THE HOME PAGE!</h1>

<% drivers.forEach(function(driver) { %>
    <p><strong>-<%= driver.firstName %>
        <%= driver.lastName %></strong></p>
<% }); %>

<% include ./partials/footer %>