.calculator {
	font-family: Quicksand, Open Sans, Abel ,Arial;
	background-color: #887777;
	margin: 0 auto;
    height: 390px;
    width: 290px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#logDisplay {
	height: 20px;
	font-weight: 400;
	font-size: 16px;
	color: white;
	opacity: 0.8;
	padding: 8px 6px 0 0;
	float: right;
}

#entryDisplay {
	font-size: 40px;
	color: white;
	padding: 0 6px 0 0;
	float: right;
	clear:both;
}

.keys {
	height: 310px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.key {
	font-weight: 400;
	font-size: 34px;
	height: 60px;
	width: 70px;
	background: linear-gradient(#f0f0f0, #f4f4f4);
	float: left;
	border-left: 2px solid #887777;
	border-bottom: 2px solid #887777;
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.key:hover {
	background: linear-gradient(#e5e5e5, #eaeaeb);
}

#clearAll, #clearEntry, #modulo{
	font-size: 29px;
}
.zero {
	width: 142px;
	text-indent: -44px;
}

.operator {
	background: linear-gradient(#ff9a43, #ffa149) !important;
	color: white;
	border-right: 2px solid #887777;
	font-size: 32px;
}

.pink {
	background: pink !important;
	color: white;
	border-right: 2px solid #887777;
}

.operator:hover {
	background: linear-gradient(#f8913b, #fe9b3e) !important;
	color: white;
}
