<% include ./partials/header %>

<div class="container">
    <p class="lead">
        <a href="/register">SIGN UP</a> 
        to join <strong><%= count %></strong> other users
    </p>
</div>

<% include ./partials/footer %>